/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
*/
body {
  background-color: #e7e7de;
  margin: 0;
}

.header {
  margin: 100px 50px 50px 50px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  color: #222831;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  color: #e7e7de;
}

p {
  font-family: 'Jost', sans-serif;
  color: #222831;
}

a {
  color: #00587a;
  text-decoration: none;
}

.block-1 {
  margin: 50px;
}

.profile-photo {
  display: block;
  width: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.fa {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.portfolio {
  background-color: #0f3057;
  text-align: center;
  padding: 30px 0 100px 0;
}

.portfolio-p {
  color: #e7e7de;
}

.portfolio-vertical {
  max-width: 200px;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.8);
}

.portfolio-vertical:hover {
  opacity: 0.7;
}

.footer-portfolio {
  text-align: center;
  background-color: #0f3057;
  padding-bottom: 100px;
}
